<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.practisemybatis.mapper.TicketMapper">
    <resultMap id="ticketMap" type="com.hz.practisemybatis.domain.Ticket" autoMapping="true">
        <collection property="passenger" column="pid" ofType="com.hz.practisemybatis.domain.Passenger" autoMapping="true">

        </collection>
        <collection property="car" column="cid" ofType="com.hz.practisemybatis.domain.Car" autoMapping="true">
            <collection property="driver" column="did" ofType="com.hz.practisemybatis.domain.Driver" autoMapping="true"></collection>
        </collection>
    </resultMap>
    <insert id="saveTicket" >
        insert into ticket(tid,pid,cid,tvalue,station,destination,startTime,endTime)
        values(#{tid},#{passenger.pid},#{car.cid},#{tvalue},#{station},#{destination},#{startTime},#{endTime})
    </insert>

    <insert id="saveTicketExceptPassenger">
        insert into ticket(tid,cid,tvalue,station,destination,startTime,endTime)
        values(#{tid},#{car.cid},#{tvalue},#{station},#{destination},#{startTime},#{endTime})
    </insert>

    <!--foreach 插入多条数据-->
    <insert id="addTicketList">
        insert into ticket(tid,cid,tvalue,station,destination,startTime,endTime)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.tid},#{item.car.cid},#{item.tvalue},#{item.station},#{item.destination},#{item.startTime},#{item.endTime})
        </foreach>
    </insert>
    <select id="getTicket" resultMap="ticketMap">
        select t.tid,t.tvalue,p.pname,c.cid,d.dname from passenger p
        left outer join ticket t on t.pid = p.pid
        left outer join car c on c.cid = t.cid
        left outer join driver d on d.did = c.did
        where t.tid = #{tid}
    </select>
    <update id="updateTicketPid">
        update ticket set pid = #{passenger.pid} where tid = #{tid}
    </update>
    <!--查询获取到的是一个笛卡尔积的结果
     所以对于查询多个表的信息时，得到数据总个数会是各个表中数据个数相乘的结果
    在涉及到多个表的查询中要加入限制条件 连接条件
    -->
    <select id="getTicketsByStation" resultMap="ticketMap">
        select t.* from ticket t where t.station = #{station} and t.destination = #{destination}
        <if test="startTime != null ">
            and t.startTime &gt; #{startTime}
        </if>
    </select>
    <select id="getTicketFirst" resultMap="ticketMap">
        select t.* from ticket t where t.station = #{station} and t.destination = #{destination}

        order by t.tid limit 0,1
    </select>

    <!--limit后有两个参数，limit m,n  从结果的第m条数据开始到m+n条数据结束
    m是偏移量
    n是查询个数
    可以省略第一个参数，默认为0
    -->
    <update id="updatePid">
        update ticket set pid = #{passenger.pid} where station=#{station} and destination = #{destination}
        and pid is NULL limit 1
    </update>

    <update id="updatePidNull">
        update ticket set pid =NULL where tid = #{tid}
    </update>

</mapper>